@model IEnumerable<Race>

<header><link rel="stylesheet" href="~/css/Game.css" /></header>

<body>
    <div class="row">
        <div class="col-md-12">
            <div class="label-background">
                <h2>Create Character</h2>
            </div>
            <div class="character-creation-container">
                <div class="form-container">
                    <form>
                        <div class="form-group">
                            <label class="form-label"><span class="mini-label">Gender:</span></label>
                            <div class="radio-grid">
                                <div>
                                    <input type="radio" name="gender" id="male" value="male" checked>
                                    <label for="male">Male</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" id="female" value="female">
                                    <label for="female">Female</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label"><span class="mini-label">Race:</span></label>
                            <div class="radio-grid">
                                <!-- Display race options with descriptions and bonuses -->
                                @{
                                    bool isFirst = true; // Initialize a flag to identify the first item
                                }

                                @foreach (var race in Model)
                                {
                                    <div>
                                        <input type="radio" name="race" id="@race.Name" value="@race.Name" data-description="@race.Description" @(isFirst ? "checked" : "")>
                                        <label for="@race.Name">@race.Name</label>
                                    </div>
                                    isFirst = false; // After the first item, set the flag to false
                                }
                            </div>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" id="btn-submit">Create Character</button>
                    </form>
                </div>
                <div class="form-container-description">
                    <p id="race-description"></p>
                </div>
                <div class="avatar-container">
                    <img alt="Character Avatar" id="character-avatar">
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/updateCharacterAttributes.js" asp-append-version="true"></script>
</body>
